<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons/head :: head}"></head>

<body>
    <div th:replace="~{commons/navbar :: navbar}"></div>

    <div class="container-fluid">
            <h2 class="text-center" th:text="${pageTitle}"></h2>
            <div class="d-flex justify-content-center align-items-center w-100">
                <form th:action="@{/users/create}" method="post" class="w-25" th:object="${user}" onsubmit="return checkEmailUnique(this)">
                    <div class="form">
                        <input type="hidden" th:field="*{id}">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control w-100" th:field="*{email}" required minlength="8" maxlength="128">
                        </div>
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" id="firstName" class="form-control w-100" th:field="*{firstName}" required minlength="1" maxlength="128">
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" id="lastName" class="form-control w-100" th:field="*{lastName}" required minlength="1" maxlength="128">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input th:if="${user.id == null}" type="password" id="password" class="form-control w-100" th:field="*{password}" required>
                            <input th:if="${user.id != null}" type="password" id="password" class="form-control w-100" th:field="*{password}">

                        </div>
                        <div class="mb-3">
                            <div class="btn-group" role="group">
                                <th:block th:each="role : ${roles}">
                                    <input type="checkbox" name="roles" th:value="${role.id}" class="btn-check" th:id="'role-' + ${role.id}" th:checked="${#lists.contains(user.roles, role)}" autocomplete="off">
                                    <label th:text="${role.name}" class="btn btn-outline-secondary" th:for="'role-' + ${role.id}"></label>
                                </th:block>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="btn-group" role="group">
                                <input type="checkbox" name="enabled" th:checked="*{enabled}" id="enabled" class="btn-check">
                                <label for="enabled" class="btn btn-outline-secondary">Enable</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-danger" onclick="redirectToUserIndexPage()">Cancel</button>
                            <button type="submit" class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>

    <div class="container">
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>

    <script>
        function redirectToUserIndexPage() {
            window.location = "[[@{/users}]]";
        }

        function checkEmailUnique(form) {
            let email = document.getElementById("email").value;
            let csrf = document.getElementsByName("_csrf")[0].value; // อ่าน token จาก input hidden ที่ชื่อ _csrf
            let userId = document.getElementById("id").value;
            let url = "[[@{/api/users/check_email_unique}]]?email=" + email + "&id=" + userId;

            fetch(url, {
                method: "post",
                headers: {
                    "X-CSRF-TOKEN": csrf
                }
                
            }).then((data) => {
                return data.text();
            }).then((data) => {
                console.log(data);
                if (data === "OK") {
                    form.submit();
                } else {
                    alert("Email is duplicated");
                }
            });

            return false;
        }
    </script>
</body>

</html>